# 🔹 Virtual Environment
proenv/
env/
venv/


# 🔹 Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


# 🔹 Jupyter Notebook
.ipynb_checkpoints/


# folder
artifacts/


# 🔹 Logs
*.log


# 🔹 OS files
.DS_Store
Thumbs.db


# 🔹 VS Code settings
.vscode/


# 🔹 Temporary files
*.tmp
*.temp


# 🔹 Database files (if any)
*.db
*.sqlite3
/



.git
.env
*.csv
lokii_121_accessKeys.csv